<header>
  {% load static %}
  <nav class="navbar navbar-expand-lg">
    <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'icons/icon.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      <span style="color:Black">ООО"Лесовод"</span>
   <ul class="nav justify-content-end">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="nav justify-content-end">
        <a class="nav-item nav-link" style="color:Black" href="{% url 'index' %}">Главная страница</a>
        <a class="nav-item nav-link" style="color:Black" href="{% url 'posts' %}">Блог компании</a>
        <a class="nav-item nav-link" style="color:Black" href="{% url 'employers' %}">Сотрудники</a>
        <a class="nav-item nav-link" style="color:Black" href="{% url 'about' %}">О компании</a>
        {% if user.is_authenticated %}
        <li class="nav-item"> 
          <a class="nav-link style="color:Black" {% if view_name  == 'post:new_post' %}active{% endif %}" 
          style="color:Black"
          href="{% url 'new_post' %}">Новая запись</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" style="color:Black" href="{% url 'users:logout' %}">Выйти</a>
        </li>
        <li style='color:black'>
          Пользователь: {{ user.username }}
        <li>
        {% else %}
        <li class="nav-item"> 
          <a class="nav-item nav-link" style="color:Black" href="{% url 'users:login' %}">Вход для сотрудников</a>
        </li>
        {% endif %}
        </ul>
    </div>
  </div>
  </nav>
</header>