<header class="header">
  {% load static %}
  <nav class="navbar justify-content-center">
    <a class="navbar-brand text" href="{% url 'index' %}">
      <img
        src="{% static 'icons/icon.png' %}"
        width="50"
        height="50"
        class="d-inline-block align-top"
        alt="Logo"
      />
    </a>
    <div class="container">
        <a class="navbar-text" href="{% url 'index' %}">Главная страница</a>
        <a class="navbar-text"  href="{% url 'posts' %}">Новости</a>
        <a class="navbar-text"  href="{% url 'employers' %}">Сотрудники</a>
        <a class="navbar-text" href="{% url 'about' %}">О компании</a>
    {% if user.is_authenticated %}

    <a class="navbar-text" href="{% url 'new_post' %}">Новая запись</a>

    <a class="navbar-text" href="{% url 'users:logout' %}"> <span style="color:red"> {{ user.username }}</span></a>
    {% endif %}
</div>
<div class='overlay'>
  <h1 class='header-title'></h1>
</div>
    <!--<a href="{% url 'users:login' %}">Вход для сотрудников</a>-->
  </nav>
</header>
