{% extends 'base.html' %} {% block content %}
<main>
  <div class="row row-cols-1 row-cols-md-3 bg-tranparent">
    <div class="col mb-4 bg-tranparent">
      <div class="card bg-tranparent">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body bg-tranparent">
          <h5 class="card-title">Директор</h5>
          <p class="card-text">Директор</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card bg-tranparent">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body bg-tranparent">
          <h5 class="card-title">Менеджер</h5>
          <p class="card-text">Менеджер</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card bg-tranparent">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body bg-tranparent">
          <h5 class="card-title">Бухгалтер</h5>
          <p class="card-text">Бухгалтер</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card bg-tranparent">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body bg-tranparent">
          <h5 class="card-title">Лесничий</h5>
          <p class="card-text">Лесничий</p>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
