{% extends 'base.html' %}{% load static %} {% block content %}

<div class="welcome-box">
  <div class="welcome">
    <div class="welcome-info"><p class="info">Общая площадь во владении: 50000ГА</p></div>
    <div class="welcome-info"><p class="info">Площадь посадки: 15000ГА</p></div>
  </div>
  <div class="welcome">
    <div class="welcome-info"><p class="info">Площадь охот-хозяйства: 15000ГА</p></div>
    <div class="welcome-info"><p class="info">И т.д. и т.п.</p></div>
  </div>
</div>
{%endblock%}
