{% extends 'base.html' %} {% block content %} {% load user_filters %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="card-post">
    <div class="card-header text-center label-post">
      {% if is_edit %} Редактирование поста {% else %} Новый пост {% endif %}
    </div>
    {% for field in form %}
    <div
      class="form-post"
      {% if field.field.required %}
      aria-required="true"
      {% else %}
      aria-required="false"
      {% endif %}
      >
      <label for="{{ field.id_for_label }}" class="label-post">
        {{ field.label }}
      </label>
      <div>
        {{ field|addclass:'form-control' }} {% if field.help_text %}
        <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
          {{ field.help_text|safe }}
        </small>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  <div class="button-area">
    <button class="button-post" type="submit">Отправить</button> 
  </div>
  </div>
</form>
{% endblock %}
