
    {% if page_obj.has_other_pages %}
    <div class="paginator">
      {% if page_obj.has_previous %}
      <a class="a-paginator" href="?page={{ page_obj.previous_page_number }}">‹Предыдущая</a>
      {% endif %}
      {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
              <a class="a-paginator active">{{ i }}</a>
            {% else %}
              <a class="a-paginator" href="?page={{ i }}">{{ i }}</a>
            {% endif %}
      {% endfor %}
            {% if page_obj.has_next %}
              <a class="a-paginator" href="?page={{ page_obj.next_page_number }}">Следующая ›</a>
              <a class="a-paginator" href="?page={{ page_obj.paginator.num_pages }}">Последняя »</a>
            {% endif %}
    </div>
    {% endif %}